<div id="basket_outside">
<div id="basket_inside">
    <div class="basket_item">
        <img>
        <div>
            <div class="basket_item_title">
            </div>
            <div class="basket_item_status">
                <div class="basket_item_price">
                </div>
                <a>Delete</a>
            </div>
        </div>
    </div>
</div>
    <a id="order_button" href="">Order</a>
</div>