<div id="basket_outside">
    <div class="basket_item">
        <img>
        <div>
            <div class="basket_item_title">
            </div>
            <div class="basket_item_status">
                <div class="basket_item_price">
                </div>
                <a>Delete</a>
            </div>
        </div>
    </div>
<div id="basket_inside">
    <!--
        <div class="basket_item">
        <img>
        <div>
            <div class="basket_item_title">
            </div>
            <div class="basket_item_status">
                <div class="basket_item_price">
                </div>
                <a>Delete</a>
            </div>
        </div>
    </div>
    -->
</div>
    <div class="total_price"></div>
    <p>Total price:</p>
    <a id="order_button" href="/order">Order</a>
</div>