<%-include('top', {user: {isLogined: false}});%>
<div id="advert">
    <h1>Now you can use your login and password to log in</h1>
    <img src="/images/Advertisment.png">
</div>

<%- include('bottom') %>