<%-include('top');%>
<div id="advert">
    <%if (user.type == "Salesman") {%>
        <h1>Please wait untill our menager approve your application</h1>
    <%} else {%>
        <h1>Now you can use your login and password to log in</h1>
    <%}%>
        <%=user.type%>>
    <img src="/images/Advertisment.png">
</div>

<%- include('bottom') %>