<div class="products_menu">
    <div class="product_conteiner">
            <div> <a href="/pc"><img src="/images/pc.jpg"> PC</a></div>
            <div> <a href="/leptops"><img src="/images/leptop.jpg">Leptops</a></div>
            <div> <a href="/cellphones"><img src="/images/mobile_phones.jpg"> Cell phones</a></div>

            <div> <a href="/headphones"><img src="/images/headphones.jpg">Headphones</a></div>
            <div> <a href="/tv"><img src="/images/tv.png">TV</a></div>
            <div> <a href="/routers"><img src="/images/router.jpg">Routers</a></div>

            <div> <a href="/other"><img src="/images/other.jpg">Other</a></div>
    </div>
</div>
<script src="/js/playcing.js"></script>