<div class="products_menu">
    <div class="product_conteiner">
            <div> <a href="/goods/pc"><img src="/images/pc.jpg"> PC</a></div>
            <div> <a href="/goods/leptops"><img src="/images/leptop.jpg">Leptops</a></div>
            <div> <a href="/goods/cellphones"><img src="/images/mobile_phones.jpg"> Cell phones</a></div>

            <div> <a href="/goods/headphones"><img src="/images/headphones.jpg">Headphones</a></div>
            <div> <a href="/goods/tv"><img src="/images/tv.png">TV</a></div>
            <div> <a href="/goods/routers"><img src="/images/router.jpg">Routers</a></div>

            <div> <a href="/goods/other"><img src="/images/other.jpg">Other</a></div>
    </div>
</div>
<script src="/js/playcing.js"></script>