<div id="salesman_menu">
    <ul>
        <li><a href="/addgoods">Add goods</a></li>
        <li><a href="/orders">Orders<span>0</span></a></li>
        <li><a href="/comments">Comments<span>0</span></a></li>
    </ul>
</div>