<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/top.css" >
    <link rel="stylesheet" href="/css/style.css" >
    <% if (!user.isLogined || (user.isLogined && user.type == "User") ) {%>
        <link rel="stylesheet" href="/css/basket.css">
    <%}%>

    <%if(urlPath.length == 1) {
        //index
    %>
        <link rel="stylesheet" href="/css/index.css" >
    <% } %>
    <%if (urlPath.indexOf("/login") == 0) { %>
        <link rel="stylesheet" href="/css/login.css" >
    <%} else if (urlPath.indexOf('/regist') == 0) { %>
        <link rel="stylesheet" href="/css/regist.css" >
    <% } else if (urlPath.indexOf('/greetings') == 0) {%>
        <link rel="stylesheet" href="/css/greetings.css">
    <% } else if (urlPath.indexOf('/menager') == 0) { %>
        <link rel="stylesheet" href="/css/menager.css" >
    <% } else if (urlPath.indexOf('/sellings') == 0) { %>
        <link rel="stylesheet" href="/css/menager.css" >
    <% } else if (urlPath.indexOf('/approve') == 0) { %>
        <link rel="stylesheet" href="/css/menager.css" >
        <link rel="stylesheet" href="/css/approve.css" >
    <% } else if (urlPath.indexOf('/salesman') == 0) { %>
        <link rel="stylesheet" href="/css/salesman.css" >
    <% } else if (urlPath.indexOf('/addgoods') == 0) { %>
        <link rel="stylesheet" href="/css/salesman.css" >
        <link rel="stylesheet" href="/css//addgoods.css" >
    <%
        //products css
        } else if (urlPath.indexOf('/goods/') == 0 && urlPath.indexOf('/view/') > 0) { %>
        <link rel="stylesheet" href="/css/goodsview.css" >
    <% } else if (urlPath.indexOf('/goods') == 0) { %>
        <link rel="stylesheet" href="/css/goods.css" >
    <% } else if (urlPath.indexOf('/order') == 0) {%>
        <link rel="stylesheet" href="/css/order.css">
    <%}%>


</head>

<div id = "menu-padding">

</div>
<div id = "menu">
    <img src="/images/logo.png">
    <input id="rearching_inp" type="search">

    <%if(user.isLogined) {%>
        <a href="/logout">Log out</a>
        <p><%=user.name + " " + user.surname %></p>
    <% } else { %>
            <a id="reg_link" href="/regist">Sighn up</a>
            <a href="/login">Log in</a>
    <%} %>

    <% if (!user.isLogined || (user.isLogined && user.type == "User") ) {%>
    <div id="basket_button">
        <a href="#">
            <img src="/images/cart.png">
            <span><%=basketSize%></span>
        </a>
    </div>

    <%}%>
</div>

<%-include('basket');%>

<script src="/js/logoClicking.js"></script>
<% if (!user.isLogined || (user.isLogined && user.type == "User") ) {%>
    <script src="/js/basket/displayingBasket.js"></script>
<%}%>