#add_goods_conteiner {
    margin: 3px 2px 0px 3px;
    float: left;
    width: 900px;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pic_button {
    float: left;
    display: block;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px 10px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

.pic_button:hover {
    color: white;
    background-color: #327da8;
}

.img_gallery {
    clear: left;
    margin: 4px;
    height: 550px;
    z-index: 1;
}

.img_gallery .front {
    float: left;
    width: 500px;
    height: 500px;
}

.img_gallery img {
    margin: 5px 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 2px solid #327da8;
    clear: left;
    width: 100px;
    height: 100px;
}

.line {
    margin: 10px 40px 10px 40px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#add_goods_conteiner div label {
    margin: 10px 40px 10px 40px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#characteristic_table td {
    width: 450px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#add_goods_conteiner .btn {
    width: 200px;
    height: 30px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#submit_btn {
    float: right;
}

#add_goods_conteiner input {
    height: 20px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#add_goods_conteiner select{
    height: 30px;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}

#modal_message {
    position: absolute;
    display: none;
    z-index: 2;
    height: 20px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #327da8;
    background: white;
    font-family: Candara;
    font-size: 20px;
    color: #8e8d94;
}