#basket_outside {
    width: 500px;
    height: 750px;
    display: none;
    position: fixed;
    top:60px;
    right: 0px;
    background-color: #d8e4eb;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#basket_outside > .basket_item {
    display: none;
}

#basket_inside {
    width: 500px;
    height: 600px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.basket_item {
    margin: 5px;
    clear: both;
    width: 500px;
    height: 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.basket_item img {
    float: left;
    width: 70px;
    height: auto;
}

.basket_item_title {
    float: left;
    width: 420px;
    height: 45px;
    font-family: Candara;
    font-size: 20px;
}

.basket_item_status {
    float: left;
    width: 420px;
    height: 20px;
}

.basket_item_price {
    float: left;
    font-family: Candara;
    font-size: 30px;
    width: 60px;
}

.basket_item_status a {
    float: right;
    font-family: Candara;
    font-size: 20px;
    width: 60px;
}

#basket_outside #order_button {
    clear: both;
    display: block;
    margin: 10px 100px;
    width: 300px;
    height: 50px;
    background-color: #327da8;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-family: Candara;
    font-size: 45px;
    box-sizing: border-box;
}

#basket_outside #order_button:hover {
    background: #054366;
    color: white;
}

.total_price {
    padding: 0px 50px 0px 0px;
    float: right;
    font-family: Candara;
    font-size: 50px;
    width: 150px;
}

#basket_outside > p {
    margin: 0px 0px 25px 0px;
    padding: 15px 0px 0px 0px;
    float: right;
    display: block;
    font-family: Candara;
    font-size: 30px;
    color: #8e8d94;
}