/* goods */
#goods_conteiner {
    margin:auto;
    width: 1400px;
    height: auto;
}

.goods {
    margin: 10px;
    float: left;
    width: 400px;
    height: 540px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.view_btn {
    width: 400px;
    height: 500px;
}

.goods .front {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: auto;
    height: 300px;
}

.goods_label {
    text-align: center;
    float: left;
    width: 400px;
}

.goods_bottom {
    float: bottom;
}

.goods_bottom .buy_button {
    margin-right: 10px;
    padding:  5px 10px;
    float: right;
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: Candara;
    font-size: 40px;
    text-align: center;
    background: #327da8;
    color: white;
}

.goods_bottom .buy_button:hover {
    background: #054366;
    color: white;
}

.goods_price_div {
    float: left;
    font-family: Candara;
    font-size: 40px;
    color: black;
}

#pages_nav {
    width: 600px;
    margin: auto;
}

#pages_nav > a {
    display: inline-block;
    border: 1px solid #327da8;
    width: 35px;
    padding: 3px;
    font-family: Candara;
    font-size: 40px;
    text-align: center;
}